body,html{
    height:100%;
}
.btn{
    margin: 0!important;
    padding: 0.8em!important;
    font-family: 'Anton', cursive;
    font-size: 1.5em!important;
}
.btn .fa{
    font-size: 1.5em;
    margin-right:12px;
}
.md-form label{
    font-size: 1.5em;
    font-family: 'Anton', cursive;
}
input{
    border-bottom:1px solid white!important;;
}
h4{
    margin:0.5em;
}
