body{
    color: white;
}
figure{
    margin: 0;
}
#mainInfo
{
    background: #3a6186;  
    background: -webkit-linear-gradient(left, #89253e, #3a6186);
    background: -moz-linear-gradient(left, #89253e, #3a6186);
    background: -o-linear-gradient(left, #89253e, #3a6186);
    background: linear-gradient(40deg,#303f9f,#1976d2);   
    position: absolute;
    top:0;
    margin: 0;
   
}
#topPortion img{
    padding: 0;
    margin: 0;
    z-index: 102;
}
#title span{
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}
#type span:nth-child(1){
    font-size: 2em;
    font-style: italic;
    color: whitesmoke;
}
#author span:nth-child(2){
    font-size: 2em;
    color: whitesmoke;
}
#particles-js{
    z-index: 99;
}

