body{
    color: white;
}
figure{
    margin: 0;
    height: 100%;
}
.customNoSpace{
    margin: 0;
    padding: 0;
}
#mainInfo
{
    position: absolute;
    top:0;
    width: 100%;
}
#topPortion{
    background: #3a6186;  
    background: -webkit-linear-gradient(left, #89253e, #3a6186);
    background: -moz-linear-gradient(left, #89253e, #3a6186);
    background: -o-linear-gradient(left, #89253e, #3a6186);
    background: linear-gradient(40deg,#303f9f,#1976d2);   
}
#topPortion img{
    z-index: 102;
}
#title span{
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}
#type span:nth-child(1){
    color: #eeefee;
}
#author span:nth-child(2){
    color: #eeefee;
}
#particles-js{
    z-index: 999;
    
}
#fullBody{
    
}
#logo{
    
}
